@{
    ViewBag.Title = "Invalid User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hgroup class="title">
    <h1 class="error">No esta autorizado para esta pagina</h1>
    <h2 class="error">Contacta con el  Administrador.</h2>
</hgroup>