@{
    ViewBag.Title = "Página principal";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p style = "text-align:justify">
                La Constancia de no adeudar material bibliográfico a los centros de información y Bibliotecas de la UCSM, 
                es un documento que certifica que no adeuda material bibliográfico y que no tiene impedimento para la obtención 
                de los grados de bachiller o título profesional conforme lo estipulado en el reglamento de grados y títulos de la Universidad.
             </p>
             <p style = "text-align:justify">
                La constancia debe ser solicitada a través de mesa de partes y se expedirá en 3 días hábiles y su vigencia es de 45 días
                Los requisitos para la obtención de la constancia de biblioteca son:
            </p>
        </div>
    </section>
}
<h3>Requisitos para el procedimiento</h3>
<ol class="round">
    <li class="one">
        <h5>Pago en Tesoreria</h5>
        Realizar el pago de derechos de no adeudar material biliografico a la biblioteca.
    </li>
    <li class="two">
        <h5>Formato N° 2</h5>
        Llenar la solictud y presentarla en mesa de partes.
    </li>    
</ol>
